@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

.bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-background-pan {
  animation: background-pan 3s linear infinite;
}

.shadow-big {
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.shadow-small {
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.underlineAnimation::after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 100%;
	height: 1.5px;
	background-color: #333;
	transition: opacity 300ms, transform 300ms;
	transform: translate3d(-100%, 0, 0);
}

.underlineAnimation:hover::after,
.underlineAnimation:focus::after{
	transform: translate3d(0, 0, 0);
}