@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

.bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-background-pan {
  animation: background-pan 3s linear infinite;
}

.shadow-big {
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.shadow-small {
  --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.underlineAnimation::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5px;
	background-color: #333;
	transition: opacity 300ms, transform 300ms;
	transform: translate3d(-100%, 0, 0);
}

.underlineAnimation:hover::after,
.underlineAnimation:focus::after{
	transform: translate3d(0, 0, 0);
}


.background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#cce9ed,#c8d4e4, #f0d0e5, #f5eaf0, #ebf8f4, #eeeeee);
  background-size: 400% 400%;
  animation: background-animation 100s ease infinite;
  z-index: -1;
}

@keyframes background-animation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* #d9f3fc, #d1fef4, #f5dbff, #fad3f4 */